<!doctype html>
<html lang="en">
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Developer Username</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>
    
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a [ngClass]="option==1 ? 'nav-link active' : 'nav-link' "  (click)="changeMenu(1)">
                  Project List
                </a>
              </li>
              <li class="nav-item">
                <a [ngClass]="option==2 ? 'nav-link active' : 'nav-link' "  (click)="changeMenu(2)">
                  Create New Project
                </a>
              </li>
              <li class="nav-item">
                <a [ngClass]="option==3 ? 'nav-link active' : 'nav-link' "  (click)="changeMenu(3)">
                  Customer List
                </a>
              </li>
              <li class="nav-item">
                <a [ngClass]="option==4 ? 'nav-link active' : 'nav-link' "  (click)="changeMenu(4)">
                  Edit Profile
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="display-menu" *ngIf="option==1">DISPLAY 1234456789123234234234235345</div>
        <div class="display-menu" *ngIf="option==2"><app-admin-new-project-form></app-admin-new-project-form></div>
      </div>
    </div>
  </body>
</html>
