<!doctype html>
<html lang="en">
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Developer Username</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>
    
    <div class="container-fluid">
      <div class="row ">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a  routerLink="/admin-panel/project-list" 
                    class="nav-link" 
                    (click)="changeMenu($event)"
                    [ngClass]="getRouter.url==='/admin-panel/project-list' ? 'nav-link active' : 'nav-link' " >
                  Project List
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin-panel/create-project"
                   class="nav-link"
                   (click)="changeMenu($event)"
                   [ngClass]="getRouter.url==='/admin-panel/create-project' ? 'nav-link active' : 'nav-link' " 
                   >
                  Create New Project
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="display-menu">
          <router-outlet></router-outlet>     
        </div>
      </div>
    </div>
  </body>
</html>
